<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>game description</h1>

    <p><%= foundGame.name%></p>
    <% if(foundGame.isWorthPlaying){%>

    <p>game is worth your time</p>
    <% }else { %>
<p>avoid this game like the plague </p>
   <% } %>
</body>
</html>